<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Hello</title>
    </head>
    <body>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        <a th:href="@{/login}">Login</a>
        
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        
        <form th:action="@{/form/edit}" method="get">
            Name: <input type="text" name="name" th:value="${signup.name}"/><br/>
            Address: <input type="text" name="address" th:value="${signup.address}"/><br/>
            Website: <input type="text" name="website" th:value="${signup.website}"/><br/>
            <input type="submit" value="Update"/>
        </form>
        
        Change password:
        <form name="changepass_form" th:action="@{/changepass}" method="post">
            Old password: <input type="password" id="oldpass" name="oldpass" /><br/>
            New password: <input type="password" id="newpass" name="newpass" /><br/>
            <input type="submit" value="Change" />
        </form>

    </body>
</html>
