<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Hello</title>
    </head>
    <body>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        
        <form th:action="@{/form/edit}" method="POST">
            Name: <input type="text" th:value="${signup.name}"/><br/>
            Address: <input type="text" th:value="${signup.address}"/><br/>
            <input type="submit" value="Update"/>
        </form>
        
    </body>
</html>
